body{

}
*
{
    margin: 0;
    padding: 0;

}
body{
    width: 100%; height: 100vh;
     background-image: url("rs4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
   
}

nav{
    width:auto; height: 60px;
    background-color: black;
    display:flex; justify-content: space-between;
    align-items: center;
}

.menu ul li a{
     text-decoration: none;
    color: rgb(135, 222, 164);
    font-weight: bold;
    font-size: 20px;   
    }

    
    
   
ul,li
{
    list-style: none;
}

.menu ul li{
   float: left;
   position: relative;
}


.logo{
    font-style: italic;
  font-size: 30px;
  color: aliceblue;
  
  margin-left: 90px;
position: relative;
    animation-name: example1;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    
}
@keyframes example1 {
    0%   {transform:translateX(-8px) rotate(2deg); }
    25%  {transform:translateX(8px) rotate(-2deg);}
    50%  {transform:translateX(-8px) rotate(2deg);}
    75%  {transform:translateX(8px) rotate(-2deg);}
    100% {transform:translateX(-8px) rotate(2deg);}
        
}
.menu a{
    display: block;
    padding: 19px 20px;
   
}
.menu a:hover {
    background-color: orange;
    
     
}

.menu ul li a i{
    color:skyblue;
       transition:1s;
}

.menu ul li a:hover i{
    color:white;
    transform:rotate(360deg) scale(1.5);
    
}

.main{
    width: 100%;
    height: 85vh;
    font-style: italic;
    font-size: 40px;
    color: rgb(60, 219, 86);
    text-align: center;
     
}

.menu ul li a i{
    color:skyblue;
       transition:1s;
}

.menu ul li a:hover i{
    color:white;
    transform:rotate(360deg) scale(1.5);
 
}
.lbltext
{
    font-size:17px;

}

.submenu{
    background-color: black;
    width: 120px;
    position: absolute;
    display: none;
    }
.submenu li a{
    width: 80px;
}

.menu ul li:hover .submenu{
display: block;
}

.submenu li{
position: relative;

}
span{
    color: red;
    font-style: oblique ;
    font-size: 35px;
}
/*menu end*/

.box
{
    background-color:white;
    border: 30px solid rgb(56, 54, 54);
    width: 1000px;
    height: 423px;
    margin: auto;
    margin-top: 10px
}
.box1{
    margin: auto;
    border: 5px solid white;
    width: 99%;
    height: 99%;
}
.box2{
    width: 99%;
    height: 98%;
    margin: auto;
    border: 5px solid rgb(56, 54, 54);
}
.box3{
    width: 98%;
    height: 97%;
    margin: auto;
    
}
.card-title1{
font-size: 40px;
    text-align: center;
    width: 21%;
    background-color: rgb(56, 54, 54);
    margin-left: 768px;
    color: white;
    font-weight: bold;
}
.a{

    text-align: center;
    font-size: 40px;
    color: gold;
    width: 72%;
    margin-top: -46px;
}
.b{    text-align: center;
    width: 69%;
    font-size: 25px;
    font-weight: bold;}
.c{
    margin: auto;
    /* text-align: center; */
    /* padding-left: 21%; */
    margin-left: 25%;
    font-size: 17px;
}
.l{
    margin-right: 64%;
}
.e{
    margin-left: 73%;
    margin-top: -17px;
}
.jay{    margin-top: 25px;

}
.g{
    
    border: 3px solid rgb(56, 54, 54);
    width: 36px;
    height: 30px;
    /* margin-top: 10px; */
    background-color: rgb(56, 54, 54);
    color: white;
    border-radius: 50%;
    text-align: center;
    float: left;
}
.h{border: 3px solid black;
    width: 280px;
    height: 28px;
    margin-left: 6%;
  

}
.j{
    float: left;
}
.d,.e,.i,.j,.jay,.z{
    font-size:17px;
}

.card-title3{
    margin-top: 20px;
}
.card-title4{
    margin-top: 20px;
}
.card-title5{
    margin-top: 25px;
}
.card-title6{
    margin-top: 10px;
}
.card-title7{
    font-size:17px;
}
.j{
    margin-top: 10px
}
.k{
        margin-top: -19px;
    /* margin-right: 34px; */
    margin-left: 26%;
}
.box5{
    text-align:center;
    margin-top:10px;
}
.registerbtn {
    text-align:center;
    padding: 10px 30px;
    background-color: rgba(15, 140, 189, 0.856);
    color: white;
    border-radius: 20px;
}
.registerbtn:hover {
    background-color: rgb(61, 221, 109);
    /* border-radius:10px;*/
}
