*{
    margin:0;
    padding:0;

}
 body{

     background-image: url("depositphotos_6732170-stock-photo-glass-city.jpg");
     background-size: 100%;
    
 }
 div.main{
     text-align: center;
    width: 400;
    background-size: 80%;
    filter: brightness(0.6);
 }
 
 
 .card-title{
     text-align: center;
     font-size: 40px;
     margin-top:30px;
 }
 .box{
    margin-top: 10px;
    border: 10px;
    border-color: black;
    background-color: #0000017c;
    width: 25%;
    margin: auto;
    color: rgb(184, 140, 140);
    padding: 20px;
    border-radius: 20px;
}
 .card-title1{
     margin-top: 50px;
 }
 .card-title2,.card-title3,.card-title4,.card-title5,.card-title6,.card-title7,.submit{
     margin-top: 8px;
        
 }

 .box label {
    display: block;
    text-align: left;
}

.box input[type=text] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
} 
.registerbtn {
    padding: 10px 30px;
    background-color: rgba(15, 140, 189, 0.856);
    color: white;
    border-radius: 20px;
}
.registerbtn:hover {
    background-color: rgb(61, 221, 109);
    /* border-radius:10px;*/
}